{% extends "index.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Header Section -->
<div class="container-fluid bg-primary py-5 text-white">
  <div class="row pt-5">
    <div class="col-12 col-lg-10">
      <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Dashboard</h1>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row py-5 ">
      <div class="col-12 col-md-3">
        <div role="button" onclick="window.location=`{% url 'dashboard' %}`" class="col dashboard-list py-3 px-4 bg-success my-3">Dashboard</div>
        <div role="button" onclick="window.location=`{% url 'dashboard' %}?page=profile`" class="col dashboard-list py-3 px-4 border my-3">My Profile</div>
        <div role="button" onclick="window.location=`{% url 'logout' %}?next={{request.path}}`" class="col dashboard-list py-3 px-4 border my-3 bg-danger text-white">Logout</div>
      </div>
      <div class="col-12 col-md-9 my-3">
        {% if profile %}
          {% include "listings/dashboard/profile.html" %}
        {% else %}
          {% include "listings/dashboard/few-listings.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}