{% extends 'index.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Log In</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 justify-content-center">
                <div class="col-10 col-md-6 signup-form px-5 py-2">
                    <div class="form-head text-center mb-5">
                        <h3>Get Logged In</h3>
                        <p>Don't have an account? <a class="fw-bold text-danger" href="{% url 'register' %}">Sign up Here!</a></p>
                    </div>
                    <div class="form-body">
                        <form method="POST" class="">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ next }}" />
                           <div class="vstack gap-3 m-0 p-0">
                            <div class="">
                                <span>
                                    <label for="lastname">Your Email Address*</label>
                                    <input type="text" name="email" id="email" class="form-control" required>
                                </span>
                            </div>
                            <div class="">
                                <span>
                                    <label for="lastname">Password*</label>
                                    <input type="password" name="password" id="password" class="form-control" required>
                                </span>
                            </div>
                            <div class="">
                                <span>
                                    <button type="submit" class="w-100 btn btn-success mt-1">Login</button>
                                </span>
                            </div>
                          </div>
                        </form>
                        <p class="mt-1">Forgotten your password? <a class="fw-bold text-danger" href="{% url 'reset_password' %}">Click Here!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
