{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10 d-grid gap-3 d-md-flex justify-content-between align-items-center">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">{% if category %}{{ category.name }}{% else %}Active Listings{% endif %}</h1>

                <div class="">
                  <button class="btn btn-primary px-3 py-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Categories</button>
                </div>


                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body text-secondary">
                    <h2 class="mb-3">Categories</h2>

                    <!-- on click of any child item, it would filter based on context -->
                    <div class="d-grid gap-1 text-center text-white categories">
                      <a class="my-2 mx-3 py-3 bg-secondary" href="{% url 'listings' %}"><h5>All</h5></a>
                      {% for category in categories %}
                        <a class="my-2 mx-3 py-3 bg-secondary" href="{{ category.get_absolute_url }}"><h5>{{ category.name }}</h5></a>
                      {% endfor %}
                      <a class="my-2 mx-3 py-3 bg-secondary" href="{% url 'category-listings' 'other' %}"><h5>Other</h5></a>
                    </div>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Live Auction -->
    <div class="container-fluid">

      <div class="row mx-md-5 mb-5 p-3">
        {% for listing in listings %}
        <!-- Bootstrap modal -->
        <div class="modal fade" id="bid-modal-{{ listing.slug }}" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <form method="POST" action="{% url 'place-bid' listing.slug %}" class="modal-content bid-form">
                  {% csrf_token %}
                  <div class="modal-header">
                      <h5 class="modal-title" id="bidModalLabel">Highest Bid: ${{ listing.get_highest_bid|floatformat:2|intcomma }}</h5>
                      <button type="button" class="close" style="outline: none; background-color: transparent; border: none;" data-bs-dismiss="modal" aria-label="Close">
                          <span style="font-weight: bold; color: red;" aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <input type="number" step=".01" placeholder="$0.00" name="amount" class="form-control" required/>
                      <div class="error-container"></div>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Place bid</button>
                  </div>
              </form>
          </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 p-3 auction-card text-center listing-object" data-remaining-time="{{ listing.time_left_seconds }}">
          <div class=" p-3 auction border border-outline-1">
              <div role="button" onclick="window.location=`{{ listing.get_absolute_url }}`" class="auction-photo">
                  <img style="width: 93%; height: 245px; object-fit: cover;" src="{{ listing.imageURL }}" alt="auction-1" class="img-fluid">
                  <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto remaining-time">{{ listing.time_left }}</p>
              </div>
              <div class="auction-details">
                  <h3 role="button" onclick="window.location=`{{ listing.get_absolute_url }}`" class="text-start fs-4">{{ listing.name }}</h3>

                  <div class="auctioner my-3 d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                          <img style="max-width: 35px;" src="{{ listing.auctioneer.avatarURL }}"
                              alt="auction author" class="img-fluid me-3 rounded-circle">
                          <p class="">By {{ listing.auctioneer.full_name }}</p>
                      </div>

                      <h4 class="text-danger">${{ listing.price|intcomma }}</h4>
                  </div>
                  <div class="auction-action d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-md btn-danger bid-btn" 
                        {% if user.is_authenticated %}
                            data-bs-toggle="modal" data-bs-target="#bid-modal-{{ listing.slug }}"
                        {% else %}
                            onclick="window.location=`{% url 'login' %}`"
                        {% endif %}
                        {% if listing.time_left_seconds < 1 or listing.auctioneer == user %}
                            disabled
                        {% endif %}>
                        Place a Bid
                    </button>
                      <div class="action-btns d-flex justify-content-between">
                          {{ listing|modify_watchlist_button:request }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
        {% empty %}
          <p style="color: blue; font-weight: bold; font-size: 30px;">
            {% if category %}
              No active listings in this category yet!
            {% else %}
              No active listings here yet!
            {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>
{% endblock %}