{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Product Details</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 p-2">
        <!-- multiple bid items should iterate over this block of code -->
        <div class="row mx-0 mx-md-5 p-2">
          <div class="col-12 border col-md-4 text-center">
              <img src="{{ listing.imageURL }}" alt="auc1" class="img-fluid py-5">
          </div>
          <div class="col-12 col-md-8 border p-3">
              <div class="auction-detail">
                  <h4 class="fw-bold">{{ listing.name }}</h4>
                  <p>{{ listing.desc }}</p>
                  <p class="fs-5">Bidding Price: <span class="bidding-price text-danger">${{ listing.price }}</span></p>
              </div>
              <div class="bid-control bg-light pt-3 px-3">
                  <p class="fw-bold">Place your bid now</p>
                  <p>Bid Amount:</p>
                  <form action="" class="d-grid gap-3">
                      <input type="number" name="number" id="bid-price" placeholder="$0.00" class="form-control">
                      <div class="text-center d-grid d-lg-flex justify-content-lg-between justify-content-center">
                          <button type="submit" class="btn btn-success mb-3 px-3">Place bid</button>
                          {% if user == listing.auctioneer %}
                            <button type="submit" class="btn btn-danger mb-3 px-3">Close Auction</button>
                          {% endif %}
                      </div>
                  </form>
              </div>
          </div>
        </div>

        <div class="row mx-0 mx-md-5 p-2">
          <div class="col-md-4 mt-3">
            <h3>Latest Bids</h3>

            <!-- iterate over bid profile -->
            {% for bid in latest_bids %}
            <div class="bidprofile mt-3 p-3 border rounded d-flex gap-4 align-items-center">
              <div class="profile">
                <img src="{{ bid.user.avatarURL }}" alt="author1" class="img-fluid">
              </div>
              <div class="profile-details d-grid gap-1">
                <h5 class="name">{{ bid.user.full_name }}</h5>
                <h5 class="setbid">Bid Price: ${{ bid.amount }}</h5>
              </div>
            </div>
            {% empty %}
              <p style="color: blue; font-weight: bold;">There are no current bids!</p>
            {% endfor %}
          </div>

          <div class="col-md-8">
            <div class="row mt-3">
              <div class="col-12">
                <h3>Related Items</h3>
              </div>
              <!-- other watchlist items to be iterated over -->
              {% for listing in related_listings %}
                <div class="col-12 col-md-6 col-lg-4 auction-card mb-3 text-start">
                    <a href="{{ listing.get_absolute_url }}">
                    <div class=" p-2 auction border border-outline-1">
                      <div class="auction-photo text-center mb-3">
                        <img src="{{ listing.imageURL }}" alt="auction-1" class="img-fluid">
                      </div>
                      <div class="auction-details">
                        <p class="text-start fs-5">{{ listing.name }}</p>
          
                        <div class="auctioner mt-3">
                          <h5 class="text-danger">${{ listing.price }}</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% empty %}
                <p style="color: blue; font-weight: bold;">There are no related listings!</p>
              {% endfor %}
            </div>
          </div>
        </div>


        
        
    </div>
{% endblock %}