{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<!-- Header Section -->
<div class="container-fluid pt-5">
    <div class="row mx-md-5 my-4">
        <div class="col-12 col-md-12 col-lg-7 py-5 align-items-center">
            <p class="text-danger fw-bold">Welcome to the Auction House</p>
            <h1 class="display-3 fw-bold mb-3">Build, sell & collect digital items.</h1>
            <p class="mb-5">
                <small>
                    Nulla facilisi. Maecenas tellus ut ligula interdum convallis. Nullam dapibus on erat in dolor
                    posuere, none hendrerit lectus ornare. Suspendisse sit amet turpina sagittis, ultrices dui et,
                    aliquam urna.
                </small>

            </p>
            <a href="{% url 'listings' %}" class="btn btn-md btn-danger explore">Start Exploring</a>


        </div>

        <div class="col-12 col-md-12 col-lg-5 py-5 align-items-center">
            <img src="{% static 'media/chayka-boredapeclub.jpg' %}" alt="Bored Ape" class="img-fluid">
        </div>
    </div>

</div>


<!-- Live Auction -->
<div class="container-fluid">
    <div class="row mx-md-5">
        <div class="col-md-5">
            <h1 class="display-5 fw-bold">Live Auction</h1>
            <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products. We want to
                be a part of your smile, success and future growth.</p>
        </div>
        <div class="col-3 d-none d-lg-block"></div>

        <div class="col-md-3 align-items-center d-flex justify-content-end">
            <a href="{% url 'listings' %}">

                <button class="btn btn-md px-5 btn-danger">View All</button>
            </a>
        </div>
    </div>

    <div class="row mx-md-5 mb-5 p-3">
        {% for listing in listings %}
        <!-- Bootstrap modal -->
        <div class="modal fade" id="bid-modal-{{ listing.slug }}" tabindex="-1" role="dialog" aria-labelledby="bidModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form method="POST" action="{% url 'place-bid' listing.slug %}" class="modal-content bid-form">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="bidModalLabel">Highest Bid: ${{ listing.get_highest_bid|floatformat:2|intcomma }}</h5>
                        <button type="button" class="close" style="outline: none; background-color: transparent; border: none;" data-bs-dismiss="modal" aria-label="Close">
                            <span style="font-weight: bold; color: red;" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="number" step=".01" placeholder="$0.00" name="amount" class="form-control" required/>
                        <div class="error-container"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Place bid</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card text-center listing-object" data-remaining-time="{{ listing.time_left_seconds }}">
            <div class=" p-3 auction border border-outline-1">
                <div role="button" onclick="window.location=`{{ listing.get_absolute_url }}`" class="auction-photo">
                    <img style="width: 93%; height: 245px; object-fit: cover;" src="{{ listing.imageURL }}" alt="auction-1" class="img-fluid">
                    <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto remaining-time">{{ listing.time_left }}</p>
                </div>
                <div class="auction-details">
                    <h3 role="button" onclick="window.location=`{{ listing.get_absolute_url }}`" class="text-start fs-4">{{ listing.name }}</h3>

                    <div class="auctioner my-3 d-flex justify-content-between">
                        <div class="user d-flex align-items-center">
                            <img style="width: 30px; height: 30px; object-fit: cover;" src="{{ listing.auctioneer.avatarURL }}"
                                alt="auction author" class="img-fluid me-3 rounded-circle">
                            <p class="">By {{ listing.auctioneer.full_name }}</p>
                        </div>

                        <h4 class="text-danger">${{ listing.price|intcomma }}</h4>
                    </div>
                    <div class="auction-action d-flex align-items-center justify-content-between">
                        <button type="button" class="btn btn-md btn-danger bid-btn" 
                            {% if user.is_authenticated %}
                                data-bs-toggle="modal" data-bs-target="#bid-modal-{{ listing.slug }}"
                            {% else %}
                                onclick="window.location=`{% url 'login' %}`"
                            {% endif %}
                            {% if listing.time_left_seconds < 1 or listing.auctioneer == user %}
                                disabled
                            {% endif %}>
                            Place a Bid
                        </button>
                        <div class="action-btns d-flex justify-content-between">
                            {{ listing|modify_watchlist_button:request }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Testimonials -->
<div class="container-fluid mb-5 pb-5">
    <div class="row text-center">
        <div class="col-2 d-none d-lg-block">
        </div>
        <div class="col-12 col-lg-8 my-5">
            <h1>What Clients Say</h1>
            <p class="mx-md-5 px-md-5">Explore on the world's best & largest Bidding marketplace with our beautiful
                Bidding products. We want to be a part of your smile, success and future growth.</p>
        </div>
        <div class="col-2 d-none d-lg-block">
        </div>
    </div>


    <div class="row mx-md-5 px-3">
        {% for review in reviews %}
        <div class="col-12 col-md-6 col-lg-4 p-2">
            <div class="testimonial p-3">
                <div class="img-group d-flex justify-content-between">
                    <div class="test-desc d-grid">
                        <img style="width: 60px; height: 60px;" src="{{ review.user.avatarURL }}" alt="testi1" class="testimonial-img img-fluid mb-3">
                        <h5 class="mb-0">{{ review.user.full_name }}</h5>
                    </div>
                    <img src="{% static 'media/lg_icons/quote-red.svg' %}" alt="quote"
                        class="img-fluid align-self-start">
                </div>
                <div class="testimonial-text">
                    <p><em>{{ review.text }}</em></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}