{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
    <!-- Header Section -->
    <div class="container-fluid bg-danger py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Product Details</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 p-2">
        <!-- multiple bid items should iterate over this block of code -->
        <div class="row mx-0 mx-md-5 p-2">
          <div class="col-12 border col-md-4 text-center">
              <img style="width: 83%; height: 340px; object-fit: cover;" src="{{ listing.imageURL }}" alt="auc1" class="img-fluid py-5">
          </div>
          <div class="col-12 col-md-8 border p-3">
              <div class="auction-detail">
                  <h4 class="fw-bold">{{ listing.name }}</h4>
                  <p>{{ listing.desc }}</p>
                  <p class="fs-5">Bidding Price: <span class="bidding-price text-danger">${{ listing.price|floatformat:2|intcomma }}</span></p>
                  <p class="fs-5">Highest Bid: <span class="bidding-price text-danger detail-highest-bid">${{ listing.get_highest_bid|floatformat:2|intcomma }}</span></p>
                </div>
              <div class="bid-control bg-light pt-3 px-3">
                  <p class="fw-bold">Place your bid now</p>
                  <p>Bid Amount:</p>
                  <form method="POST" action="{% url 'place-bid' listing.slug %}" class="d-grid gap-3 bid-form">
                    {% csrf_token %}
                      <input required type="number" step=".01" name="amount" id="bid-price" placeholder="$0.00" class="form-control" {% if listing.time_left_seconds < 1 or user == listing.auctioneer %}disabled{% endif %}>
                      <input type="hidden" name="page" value="detail"/>
                      <div class="error-container"></div>
                      <div class="text-center d-grid d-lg-flex justify-content-lg-between justify-content-center">
                        {% if listing.time_left_seconds < 1 %}
                          <button class="btn btn-danger mb-3 px-3" disabled>Closed!!!</button>
                        {% else %}
                         <button class="btn btn-success mb-3 px-3"
                            {% if user == listing.auctioneer %}
                              disabled
                            {% elif not user.is_authenticated %}
                              onclick="window.location=`{% url 'login' %}`"
                            {% else %}
                              type="submit"
                            {% endif %}
                          >Place bid</button>
                          {% if user == listing.auctioneer %}
                            <button type="submit" class="btn btn-danger mb-3 px-3">Close Auction</button>                            
                          {% endif %}
                        {% endif %}
                      </div>
                  </form>
              </div>
          </div>
        </div>

        <div class="row mx-0 mx-md-5 p-2">
          <div class="col-md-4 mt-3 latest-bids">
            <h3>Latest Bids</h3>

            <!-- iterate over bid profile -->
            {% for bid in latest_bids %}
            <div data-user-id="{{ bid.user.id }}" class="bidprofile mt-3 p-3 border rounded d-flex gap-4 align-items-center">
              <div class="profile">
                <img style="max-width: 40px;" src="{{ bid.user.avatarURL }}" alt="author1" class="img-fluid rounded-circle">
              </div>
              <div class="profile-details d-grid gap-1">
                <h5 class="name">{{ bid.user.full_name }}</h5>
                <h5 class="setbid">Bid Price: ${{ bid.amount|floatformat:2|intcomma }}</h5>
              </div>
            </div>
            {% empty %}
              <p class="empty-latest" style="color: blue; font-weight: bold;">There are no current bids!</p>
            {% endfor %}
          </div>

          <div class="col-md-8">
            <div class="row mt-3">
              <div class="col-12">
                <h3>Related Items</h3>
              </div>
              <!-- other watchlist items to be iterated over -->
              {% for listing in related_listings %}
                <div class="col-12 col-md-6 col-lg-4 auction-card mb-3 text-start">
                    <a href="{{ listing.get_absolute_url }}">
                    <div class=" p-2 auction border border-outline-1">
                      <div class="auction-photo text-center mb-3">
                        <img style="max-height: 181px; width: 100%; object-fit: cover;" src="{{ listing.imageURL }}" alt="auction-1" class="img-fluid">
                      </div>
                      <div class="auction-details">
                        <p class="text-start fs-5">{{ listing.name }}</p>
          
                        <div class="auctioner mt-3">
                          <h5 class="text-danger">${{ listing.price|floatformat:2|intcomma }}</h5>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% empty %}
                <p style="color: blue; font-weight: bold;">There are no related listings!</p>
              {% endfor %}
            </div>
          </div>
        </div>


        
        
    </div>
{% endblock %}